.tab-panel {
    width: 370px;
    background-color: rgba(30, 30, 30, 0.45);
    box-shadow: 0 10px 20px 0 rgba(30, 30, 30, .4)
}

.login-tabs.spinning .login-tabs-content-mask-wrapper:before {
    background-color: transparent
}

.login-textfield .input-container input {
    color: #dedede;
    background-color: transparent
}

.login-textfield .bottom-border {
    background: rgb(255, 255, 255, .5)
}

.login-textfield:hover .bottom-border {
    background: #dedede
}

.login-title span {
    color: #00a6ff
}

.tab-panel-title {
    color: #dedede
}

.username-wrapper .back-btn-wrapper .username {
    color: #f1f1f1
}

.login-checkbox .label {
    color: rgb(222 222 222 / 80%)
}

.tab-panel-title {
    color: #dedede
}

#plugin-list>.plugin-cell>.plugin-wrapper>.plugin-desc {
    color: #ffffff
}

.tab-footer-link-ct .tab-footer-link {
    color: rgb(180 180 180 / 70%)
}

.login-tabs .login-tabs-content-wrapper .login-tabs-co .login-textfield .input-container input {
    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
    background-color: transparent
}

.login-textfield .input-container input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #dedede !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s
}

.login-textfield .input-container input {
    background-color: transparent
}

.login-wallpaper{
    filter:brightness(1)
}