.login-spinner {
    margin: auto;
    height: 34px;
    width: 34px;
    stroke: #fff
}

.login-spinner .login-spinner-g {
    transform-origin: center;
    animation: rotation 1.35s linear infinite
}

.login-spinner .login-spinner-circle {
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 180;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: turn 1.35s ease-in-out infinite
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(270deg)
    }
}

@keyframes turn {
    0% {
        stroke-dashoffset: 170
    }

    50% {
        stroke-dashoffset: 45;
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 170;
        transform: rotate(450deg)
    }
}

.tab-label {
    font-family: Verdana, Arial, sans-serif
}

.tab-label:lang(zh-TW) {
    font-family: Verdana, Arial, Microsoft JhengHei, sans-serif
}

.tab-label:lang(zh-CN) {
    font-family: Verdana, Arial, Microsoft YaHei, sans-serif
}

.tab-label:lang(ja) {
    font-family: Verdana, Arial, Meiryo, sans-serif
}

.tab-panel-title,
.login-title span,
.login-title.login-title-icon,
.login-modal .modal-header .title,
.login-page-upgrade-mask .panel .panel-title,
.login-page-upgrade-mask .panel .panel-signin .attention-text,
.login-page-otp-wizard .syno-otp-authenticator .syno-otp-authenticator-text span,
.login-msg-title {
    font-weight: 700
}

.tab-footer-link-ct .tab-footer-link,
.login-btn-mobile .btn-text,
.login-preview-bar .information,
.login-tooltip,
.login-formfield .label,
.login-formfield .text,
.login-formfield .input-text,
.login-modal .modal-footer .modal-status .msg,
.login-page-upgrade-mask .panel .panel-desc,
.login-page-upgrade-mask .panel .panel-signin .signin-text,
.login-page-upgrade-indicator,
.login-page-otp-wizard .form .step-desc-wrapper,
.login-page-otp-wizard .step-save-mail .mail-send-desc,
.login-textfield .input-container input,
.login-msg-desc,
.login-button {
    font-weight: 400
}

.login-checkbox.disabled .label {
    color: rgba(65, 75, 85, .4)
}

.login-page-otp-wizard .syno-ux-note {
    color: #00a6a6
}

@media screen and (max-width: 1250px) {
    .tab-panel {
        margin-right: 100px
    }
}

@media screen and (max-width: 800px) {
    .tab-panel {
        margin: auto
    }
}

@media screen and (max-width: 520px) {
    .login-mobile .login-tab-panel {
        display: flex;
        flex: 1 1 auto;
        overflow: hidden
    }

    .login-mobile .login-tab-panel::before,
    .login-mobile .login-tab-panel::after {
        width: 20px;
        content: " ";
        flex-shrink: 0
    }

    .login-mobile .login-tab-panel .tab-panel {
        width: auto;
        flex: 1 1 auto;
        overflow: hidden
    }

    .login-mobile .login-tab-panel .login-content-section .login-remain-section {
        flex: 0
    }

    .login-mobile .login-tab-panel .login-content-section .login-remain-section .login-msg-box {
        margin-bottom: 8px
    }

    .login-mobile .login-tab-panel .tab-footer {
        margin-top: 0
    }

    .login-mobile .login-tab-panel .tab-footer div:first-child {
        margin-top: 22px
    }

    .login-mobile .login-tab-panel .footer {
        margin-top: 22px
    }
}

.login-tab-panel {
    position: relative;
    flex: 2 0 500px
}

.login-tab-panel .login-content-section {
    display: flex;
    flex-direction: column;
    min-height: 343px
}

.login-tab-panel .login-content-section .login-remain-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-end
}

.tab-footer {
    width: 100%;
    margin-top: auto
}

.tab-footer .tab-footer-link-ct {
    margin-top: 10px
}

.tab-footer-link-ct {
    display: block;
    width: 100%;
    text-align: center
}

.tab-footer-link-ct .tab-footer-link {
    font-size: 13px;
    color: rgba(65, 75, 85, .6);
    line-height: 20px;
    text-decoration: underline;
    cursor: pointer
}

.tab-footer-link-ct .tab-footer-link.try-other-ways {
    color: #057feb;
    font-weight: normal
}

.tab-footer-link-ct button.tab-footer-link {
    border: none;
    padding: 0;
    background: none
}

.tab-panel-title {
    font-size: 18px;
    color: #414b55;
    line-height: 28px;
    margin-bottom: 22px
}

.tab-label-ct {
    overflow: hidden;
    white-space: nowrap
}

.tab-label {
    padding: 0px 8px;
    font-size: 13px;
    line-height: 48px;
    height: 48px;
    display: inline-block;
    color: rgba(65, 75, 85, .6);
    cursor: pointer
}

.tab-label:hover {
    color: #057feb
}

.tab-label.active {
    border-top: 3px solid #057feb;
    color: #057feb
}

.tab-label+.tab-label {
    margin-left: 8px
}

.only-one-tab .tab-label {
    width: 54px;
    color: transparent;
    cursor: default
}

.tab-panel {
    position: relative;
    width: 400px;
    min-height: 478px;
    padding: 0px 40px 22px 40px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    border-radius: 6px
}

.tab-mask-wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none
}

.tab-mask-wrapper.spinner {
    opacity: 0;
    transition: all .2s
}

.tab-mask-wrapper.spinner .tab-mask-spinner {
    stroke: #057feb
}

.tab-mask-wrapper .tab-mask-center {
    margin: auto
}

.login-tabs .login-tabs-content-wrapper {
    position: relative
}

.login-tabs .login-tabs-content-wrapper.login-tabs-content-mask-wrapper {
    pointer-events: all
}

.login-tabs .login-tabs-content-wrapper.login-tabs-content-mask-wrapper:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all .2s;
    pointer-events: none;
    background: transparent;
    opacity: 0
}

.login-tabs.spinning .tab-mask-wrapper.spinner {
    opacity: 1
}

.login-tabs.spinning .login-tabs-content-mask-wrapper {
    pointer-events: none
}

.login-tabs.spinning .login-tabs-content-mask-wrapper:before {
    background: rgba(255, 255, 255, .8);
    opacity: 1
}

.login-wallpaper {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 520px;
    min-height: 600px;
    overflow: hidden
}

.login-mobile .login-wallpaper {
    min-width: auto
}

.login-wallpaper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 38, 42, .3)
}

@media screen and (max-width: 520px) {
    .login-button {
        width: 100%
    }
}

.login-button {
    position: relative;
    box-sizing: border-box;
    height: 36px;
    min-width: 140px;
    padding: 0px 50px;
    border-radius: 18px;
    outline: 0;
    cursor: pointer
}

.login-button.disable,
.login-button.spin {
    cursor: default
}

.login-button .text,
.login-button .login-spinner {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 0
}

.login-button .invisible {
    opacity: 0
}

.login-button-blue {
    color: #fff;
    background: #057feb;
    border: 1px solid #057feb
}

.login-button-blue:hover {
    background: #0075db;
    border-color: #0062b8
}

.login-button-blue:active {
    background: #006dcc;
    border-color: #005299
}

.login-button-blue.disable,
.login-button-blue.spin {
    background: #057feb;
    border-color: #057feb;
    color: rgba(255, 255, 255, .4)
}

.login-button-grey {
    color: #414b55;
    border: 1px solid rgba(198, 212, 224, 0);
    background: rgba(198, 212, 224, .4)
}

.login-button-grey:hover {
    background: rgba(198, 212, 224, .4);
    border: 1px solid rgba(124, 138, 152, .4)
}

.login-button-grey:active {
    background: rgba(198, 212, 224, .6);
    border: 1px solid rgba(124, 138, 152, .5)
}

.login-button-grey.disable,
.login-button-grey.spin {
    background: rgba(198, 212, 224, .4);
    border-radius: 24px;
    color: rgba(50, 60, 70, .4)
}

@media screen and (max-height: 700px) {
    .login-logo {
        display: none
    }
}

.login-logo {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 304px;
    height: 62px
}

@media screen and (max-width: 800px) {
    .login-msg {
        display: none
    }
}

.login-msg {
    position: relative;
    height: auto;
    max-height: 500px;
    overflow: hidden;
    flex: 3 1 750px
}

.login-msg-title {
    position: relative;
    margin-left: 10%;
    padding-right: 10%;
    margin-bottom: 21px;
    font-size: 32px;
    color: #fff;
    line-height: 42px;
    word-break: break-word
}

.login-msg-desc {
    position: relative;
    margin-left: 10%;
    padding-right: 10%;
    font-size: 15px;
    color: #fff;
    line-height: 21px;
    word-break: break-word
}

.login-msg-box {
    position: relative;
    width: auto;
    padding: 8px 8px 8px 14px;
    background: rgba(60, 118, 255, .1);
    border-radius: 2px;
    font-size: 13px;
    color: #057feb;
    line-height: 20px
}

.login-msg-box.error {
    background: rgba(230, 64, 64, .1);
    color: #e64040
}

.login-msg-box.info {
    background: rgba(5, 127, 235, .1)
}

.login-textfield {
    position: relative
}

.login-textfield .input-container {
    display: flex
}

.login-textfield .input-container input {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 24px;
    font-size: 15px;
    outline: 0;
    border: 0;
    padding: 12px 0px 14px 0px;
    margin-right: 12px
}

.login-textfield .input-container input::placeholder {
    color: rgba(65, 75, 85, .4);
    text-overflow: ellipsis
}

.login-textfield .input-container input:disabled {
    background: none
}

.login-textfield .input-container input.has-after-input {
    margin-right: 4px
}

.login-textfield .border {
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: opacity .5s
}

.login-textfield .bottom-border {
    width: 100%;
    height: 1px;
    background: rgba(48, 56, 78, .1)
}

.login-textfield .active-border {
    background: #057feb;
    opacity: 0;
    z-index: 1
}

.login-textfield .error-border {
    background: #e64040;
    opacity: 0;
    z-index: 2
}

.login-textfield:focus-within .active-border {
    opacity: 1
}

.login-textfield:hover .bottom-border {
    background: rgba(48, 56, 78, .3)
}

.login-textfield.error .error-border {
    opacity: 1
}

.login-textfield.error .icon {
    background-position-y: -32px
}

.login-checkbox {
    position: relative;
    margin-bottom: 12px
}

.login-checkbox input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0
}

.login-checkbox label {
    cursor: pointer;
    vertical-align: middle;
    outline: 0
}

.login-checkbox .box {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    background-image: url(assets/37727926274c0048982bf8cdf53824c8.svg);
    background-size: 20px
}

.login-checkbox .label {
    display: block;
    padding-left: 28px;
    line-height: 24px;
    font-size: 13px;
    color: rgba(65, 75, 85, .8)
}

.login-checkbox.checked .box {
    background-position: 0 -60px
}

.login-checkbox:hover .box,
.login-checkbox.focused .box {
    background-position: 0 -20px
}

.login-checkbox:hover.checked .box,
.login-checkbox.focused.checked .box {
    background-position: 0 -80px
}

.login-checkbox.disabled label {
    cursor: default
}

.login-checkbox.disabled .box {
    background-position: 0 -40px
}

.login-checkbox.disabled.checked .box {
    background-position: 0 -100px
}

.login-upgrade-loader {
    width: 320px;
    height: 60px;
    display: flex;
    margin: auto;
    position: relative
}

.login-upgrade-loader-dots {
    margin: auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    animation: loading-uxl6mqe 1s ease alternate infinite;
    animation-delay: .4s;
    margin-left: auto;
    margin-right: auto;
    top: -12px
}

.login-upgrade-loader-dots::after,
.login-upgrade-loader-dots::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: loading-uxl6mqe 1s ease alternate infinite
}

.login-upgrade-loader-dots::before {
    left: -22px;
    animation-delay: .2s
}

.login-upgrade-loader-dots::after {
    right: -22px;
    animation-delay: .6s
}

@keyframes loading-uxl6mqe {
    0% {
        box-shadow: 0 12px 0 -12px #057feb
    }

    100% {
        box-shadow: 0 12px 0 #057feb
    }
}

.login-page-common-layout .title {
    font-weight: 700
}

@media screen and (min-width: 520px) {
    .login-page-common-layout {
        min-height: 580px
    }

    .login-page-common-layout .area-top {
        min-height: 30%;
        max-width: 720px
    }

    .login-page-common-layout .area-top .desc {
        min-height: 66px
    }

    .login-page-common-layout .area-center {
        width: 400px
    }
}

@media screen and (max-width: 520px) {
    .login-page-common-layout {
        padding: 0 20px
    }

    .login-page-common-layout .area-top {
        margin-top: 15vh
    }

    .login-page-common-layout .area-top .desc {
        min-height: 44px
    }

    .login-page-common-layout .area-center {
        width: 100%
    }
}

.login-page-common-layout-container {
    height: 100%;
    width: 100%
}

.login-page-common-layout-container .v-ps {
    padding-right: 0
}

.login-page-common-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%
}

.login-page-common-layout .area-top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center
}

.login-page-common-layout .area-center {
    flex: 1
}

.login-page-common-layout .area-center .area-center-contain {
    display: flex
}

.login-page-common-layout .area-center-right {
    width: 50%;
    box-sizing: border-box;
    padding-left: calc((50% - 340px)*.2);
    padding-right: calc((50% - 340px)*.4);
    padding-top: 48px;
    padding-bottom: 12px
}

.login-page-common-layout .area-bottom {
    text-align: center;
    max-width: 720px;
    padding-top: 40px;
    padding-bottom: 26px;
    font-size: 12px;
    line-height: 20px
}

.login-page-common-layout .title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 26px
}

.login-page-common-layout .desc {
    font-size: 16px;
    line-height: 22px
}

.login-page-common-layout .area-center .common-simple-form,
.login-page-common-layout .area-center-right .common-simple-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px
}

.login-page-common-layout .area-center .common-simple-form .login-textfield,
.login-page-common-layout .area-center-right .common-simple-form .login-textfield {
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent
}

.login-page-common-layout .area-center .common-simple-form .login-button,
.login-page-common-layout .area-center-right .common-simple-form .login-button {
    align-self: center;
    margin-top: 30px
}

.login-page-common-layout .area-center .common-simple-form .msg,
.login-page-common-layout .area-center-right .common-simple-form .msg {
    margin-top: 14px
}

.login-page-common-layout .area-center .common-simple-form .msg .text,
.login-page-common-layout .area-center-right .common-simple-form .msg .text {
    color: #057feb;
    line-height: 20px
}

.login-page-common-layout .area-center .common-simple-form .msg .text ul,
.login-page-common-layout .area-center-right .common-simple-form .msg .text ul {
    list-style: outside;
    margin-left: 22px
}

.login-page-common-layout .area-center .common-simple-form .msg.error .text,
.login-page-common-layout .area-center-right .common-simple-form .msg.error .text {
    color: #e64040
}

.login-page-common-layout .login-password-strength {
    display: flex;
    align-items: center;
    line-height: 18px
}

.login-page-common-layout .login-password-strength .strength-block {
    display: inline-block;
    background-color: rgba(198, 212, 224, .4);
    width: 26px;
    height: 4px;
    margin-right: 2px
}

.login-page-common-layout .login-password-strength .strength-block:last-of-type {
    margin-right: 6px
}

.login-page-common-layout .login-password-strength.weak {
    color: #e64040
}

.login-page-common-layout .login-password-strength.weak .strength-block.block-1 {
    background-color: #e64040
}

.login-page-common-layout .login-password-strength.medium {
    color: #f58414
}

.login-page-common-layout .login-password-strength.medium .strength-block.block-1,
.login-page-common-layout .login-password-strength.medium .strength-block.block-2 {
    background-color: #f58414
}

.login-page-common-layout .login-password-strength.strong {
    color: #009e05
}

.login-page-common-layout .login-password-strength.strong .strength-block.block-1,
.login-page-common-layout .login-password-strength.strong .strength-block.block-2,
.login-page-common-layout .login-password-strength.strong .strength-block.block-3 {
    background-color: #009e05
}

.login-page-common-layout {
    flex-wrap: nowrap !important
}

.login-page-common-layout .area-center {
    min-height: initial !important
}

@media screen and (max-width: 520px) {
    body .login-page-forgot-pwd .admin-hint {
        margin-top: 60px;
        width: 100%
    }
}

.login-page-forgot-pwd .admin-hint {
    margin-top: 40px
}

.login-page-forgot-pwd .admin-hint .text {
    color: rgba(65, 75, 85, .6);
    line-height: 20px
}

.login-wrapper {
    width: 100%;
    height: 100%;
    min-width: 520px;
    min-height: 600px
}

.login-wrapper.login-mobile {
    min-height: 582px;
    min-width: auto
}

.login-wrapper.disable .login-tabs-content-wrapper {
    pointer-events: none
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.login-container .login-header-section,
.login-container .login-footer-section {
    flex: 1
}

.login-container .login-body-section {
    flex-shrink: 0
}

.login-container .login-footer-section {
    align-self: center;
    max-width: 480px;
    width: 100%
}

.login-body-section {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.login-fieldset .field {
    margin-bottom: 24px
}

.login-fieldset-icon {
    margin-top: 29px
}

.login-fieldset-icon .field.login-title {
    margin-bottom: 20px
}

.login-page-changepwd .btn-login-now {
    display: block;
    margin: 30px auto 0px auto
}

.login-page-changepwd .btn-kick {
    margin: 30px 20px 0px auto
}

.login-page-changepwd .username-field {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 15px;
    color: #000;
    border-bottom: 1px solid rgba(48, 56, 78, .1);
    padding: 12px 12px 13px 0px;
    margin: 10px 0px
}

.login-page-changepwd .confirm-pass-error {
    font-size: 13px;
    color: #e64040;
    line-height: 20px
}

.login-page-otp-wizard .otp-title {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal
}

.login-page-otp-wizard .otp-desc {
    line-height: 26px;
    font-size: 18px;
    font-weight: bold
}

.login-page-otp-wizard .otp-action {
    width: 700px;
    height: auto;
    line-height: 20px;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px
}

.login-page-otp-wizard .otp-center {
    margin-top: 20px
}

.login-page-otp-wizard .otp-left {
    padding-top: 20px;
    padding-left: calc((50% - 340px)*.8);
    padding-right: calc((50% - 340px)*.2)
}

.login-page-otp-wizard .otp-right {
    padding-top: 20px;
    padding-left: calc((50% - 340px)*.2);
    padding-right: calc((50% - 340px)*.8)
}

.login-page-otp-wizard .otp-wizard-welcome-img {
    width: 420px;
    height: 340px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(assets/d8da6b9ec29a3b6815a87d0b2dbfc11b.png);
    background-size: 420px 340px
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpack .login-page-otp-wizard .otp-wizard-welcome-img {
        background-image: url(assets/831bfd113867ddf63caf37c3fb389cab.png);
        background-size: 420px 340px
    }
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpackdebug .login-page-otp-wizard .otp-wizard-welcome-img {
        background-image: url(assets/831bfd113867ddf63caf37c3fb389cab.png);
        background-size: 420px 340px;
        outline: 1px green dashed
    }
}

.login-page-otp-wizard .otp-wizard-verify-code-wrapper {
    height: 150px
}

.login-page-otp-wizard .otp-wizard-verify-code-wrapper .otp-wizard-verify-code-img {
    width: 120px;
    height: 120px;
    padding: 20px 0px 10px 12px
}

.login-page-otp-wizard .otp-wizard-install-app-wrapper {
    width: 420px;
    height: 340px;
    float: right
}

.login-page-otp-wizard .otp-wizard-install-app-wrapper .otp-wizard-install-app-img {
    width: 220px;
    height: 220px;
    padding: 60px 100px
}

.login-page-otp-wizard .otp-wizard-finish-img {
    width: 320px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url(assets/a89ea3a51ffdcfffe71592faec665b27.png);
    background-size: 320px 130px
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpack .login-page-otp-wizard .otp-wizard-finish-img {
        background-image: url(assets/c9b1c48ca905a6ba04f6bec65e238271.png);
        background-size: 320px 130px
    }
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpackdebug .login-page-otp-wizard .otp-wizard-finish-img {
        background-image: url(assets/c9b1c48ca905a6ba04f6bec65e238271.png);
        background-size: 320px 130px;
        outline: 1px green dashed
    }
}

.login-page-otp-wizard .header.desc {
    max-width: 800px;
    max-height: 52px
}

.login-page-otp-wizard .form .button-set button:not(:last-child) {
    margin-right: 12px
}

.login-page-otp-wizard .form .content-wrapper .step-desc {
    padding-bottom: 18px
}

.login-page-otp-wizard .form .step-desc-wrapper {
    width: 340px;
    font-size: 13px;
    color: #414b55;
    line-height: 20px;
    padding: 8px 0px
}

.login-page-otp-wizard .form .step-desc-wrapper .link {
    cursor: pointer
}

.login-page-otp-wizard .textfield-set {
    position: relative
}

.login-page-otp-wizard .msg.err {
    line-height: 20px;
    font-size: 13px;
    color: #e64040;
    width: 340px;
    min-height: 20px
}

.login-page-otp-wizard .editor {
    top: calc(50% - 123px);
    margin: 0 auto
}

.login-page-otp-wizard .editor-button-set {
    float: right
}

.login-page-otp-wizard .editor-button-set button:not(:last-child) {
    margin-right: 8px
}

.login-page-otp-wizard .step-save-mail .mail-send-content-wrapper {
    padding-top: 20px
}

.login-page-otp-wizard .step-save-mail .mail-send-desc {
    width: 700px;
    margin: auto;
    font-size: 13px;
    color: #414b55;
    line-height: 20px;
    padding: 8px 0px 8px 0px
}

.login-page-otp-wizard .step-save-mail .login-textfield {
    width: 340px;
    height: 50px;
    margin: 10px auto
}

.login-page-otp-wizard .step-save-mail .msg.err {
    margin: 0 auto
}

.login-page-otp-wizard .step-save-mail .button-set {
    display: flex;
    padding-top: 30px
}

.login-page-otp-wizard .step-save-mail .button-set .button-set-left {
    flex: 1
}

.login-page-otp-wizard .step-save-mail .button-set .button-set-left button {
    position: relative;
    float: right;
    right: 6px
}

.login-page-otp-wizard .step-save-mail .button-set .button-set-right {
    flex: 1
}

.login-page-otp-wizard .step-save-mail .button-set .button-set-right button {
    position: relative;
    left: 6px
}

.login-page-otp-wizard .step-save-mail .otp-btn-left {
    min-width: 140px;
    height: 36px;
    line-height: 24px;
    font-size: 13px;
    margin-top: 30px;
    min-width: 112px;
    margin-right: 12px
}

.login-page-otp-wizard .step-save-mail .otp-btn-right {
    min-width: 140px;
    height: 36px;
    line-height: 24px;
    font-size: 13px;
    margin-top: 30px
}

.login-page-otp-wizard .step-welcome .otp-btn-right {
    min-width: 140px;
    height: 36px;
    line-height: 24px;
    font-size: 13px;
    margin-top: 30px
}

.login-page-otp-wizard .step-install-app .desc {
    height: auto
}

.login-page-otp-wizard .step-install-app .otp-btn-left {
    min-width: 140px;
    height: 36px;
    line-height: 24px;
    font-size: 13px;
    margin-top: 30px;
    min-width: 112px;
    margin-left: 28px;
    margin-right: 12px;
    margin-top: 48px
}

.login-page-otp-wizard .step-install-app .otp-btn-right {
    min-width: 140px;
    height: 36px;
    line-height: 24px;
    font-size: 13px;
    margin-top: 30px;
    margin-top: 48px
}

.login-page-otp-wizard .step-verify-app .otp-btn-left {
    min-width: 140px;
    height: 36px;
    line-height: 24px;
    font-size: 13px;
    margin-top: 30px;
    min-width: 112px;
    margin-right: 12px
}

.login-page-otp-wizard .step-verify-app .otp-btn-right {
    min-width: 140px;
    height: 36px;
    line-height: 24px;
    font-size: 13px;
    margin-top: 30px
}

.login-page-otp-wizard .step-finish .otp-btn-right {
    min-width: 140px;
    height: 36px;
    line-height: 24px;
    font-size: 13px;
    margin-top: 30px
}

.login-page-otp-wizard .syno-otp-authenticator-div {
    margin-bottom: 6px;
    padding: 0px;
    height: 100px
}

.login-page-otp-wizard .syno-otp-authenticator-icon {
    width: 82px;
    height: 82px;
    margin: 8px
}

.login-page-otp-wizard .syno-otp-authenticator {
    display: inline-block;
    background: #fff;
    border: 1px solid rgba(198, 212, 224, .7);
    border-radius: 4px;
    width: 240px;
    height: 98px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: left
}

.login-page-otp-wizard .syno-otp-authenticator img {
    margin: 8px
}

.login-page-otp-wizard .syno-otp-authenticator .syno-otp-authenticator-text {
    display: inline-block;
    width: 118px;
    text-align: center;
    line-height: 28px;
    height: 28px;
    margin: 0px 8px 0 0px;
    padding-top: 36px;
    position: absolute
}

.login-page-otp-wizard .syno-otp-authenticator .syno-otp-authenticator-text span {
    color: rgba(65, 75, 85, .6);
    font-size: 13px
}

.login-page-otp-wizard .syno-otp-authenticator-download-icon-ios {
    background-image: url(assets/86a68ce39b7e900d7ea78c6f96f1115c.png);
    background-size: 82px 82px;
    background-repeat: no-repeat;
    display: inline-block
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpack .login-page-otp-wizard .syno-otp-authenticator-download-icon-ios {
        background-image: url(assets/d1e3cda46670232da2bb83cb51fb14c3.png);
        background-size: 82px 82px
    }
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpackdebug .login-page-otp-wizard .syno-otp-authenticator-download-icon-ios {
        background-image: url(assets/d1e3cda46670232da2bb83cb51fb14c3.png);
        background-size: 82px 82px;
        outline: 1px green dashed
    }
}

.login-page-otp-wizard .syno-otp-authenticator-download-icon-android {
    background-image: url(assets/ccd5dca1bfa2f5dbecdf55b172df9ccf.png);
    background-size: 82px 82px;
    background-repeat: no-repeat;
    display: inline-block
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpack .login-page-otp-wizard .syno-otp-authenticator-download-icon-android {
        background-image: url(assets/4d763b7f38d06f0589b09d308d8191f6.png);
        background-size: 82px 82px
    }
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpackdebug .login-page-otp-wizard .syno-otp-authenticator-download-icon-android {
        background-image: url(assets/4d763b7f38d06f0589b09d308d8191f6.png);
        background-size: 82px 82px;
        outline: 1px green dashed
    }
}

.login-page-upgrade-mask {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #2b67d6
}

.login-page-upgrade-mask .panel {
    position: relative;
    display: flex;
    height: 580px;
    width: 1024px;
    justify-content: center;
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .5);
    border-radius: 4px
}

.login-page-upgrade-mask .panel .panel-content {
    position: relative;
    margin-top: 192px;
    width: 600px
}

.login-page-upgrade-mask .panel .panel-title {
    font-size: 22px;
    color: #414b55;
    text-align: center;
    line-height: 36px;
    margin-top: 40px
}

.login-page-upgrade-mask .panel .panel-desc {
    font-size: 13px;
    color: #414b55;
    text-align: center;
    line-height: 20px;
    min-height: 40px;
    margin-top: 6px;
    padding: 4px 0
}

.login-page-upgrade-mask .panel .panel-signin {
    margin-top: 6px;
    padding: 4px 0;
    text-align: center
}

.login-page-upgrade-mask .panel .panel-signin .signin-text {
    display: inline;
    font-size: 13px;
    color: #057feb;
    text-decoration: underline;
    line-height: 20px;
    cursor: pointer
}

.login-page-upgrade-mask .panel .panel-signin .signin-text:hover {
    color: #006dcc
}

.login-page-upgrade-mask .panel .panel-signin .signin-text:active {
    color: #005cad
}

.login-page-upgrade-mask .panel .panel-signin .attention-text {
    line-height: 20px
}

.login-page-upgrade-indicator {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 24px;
    font-size: 13px;
    color: rgba(65, 75, 85, .6);
    line-height: 20px;
    text-align: center
}

.login-modal {
    position: absolute;
    width: 100%;
    height: 100%
}

.login-modal .modal-container {
    position: relative;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .6);
    border-radius: 3px;
    overflow: hidden;
    z-index: 3
}

.login-modal .modal-header {
    position: relative;
    height: 46px;
    background: #fff;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid rgba(198, 212, 224, .5)
}

.login-modal .modal-header .title {
    position: absolute;
    font-size: 14px;
    color: #32373c;
    line-height: 20px;
    text-align: left;
    padding-bottom: 13px;
    margin-top: 13px;
    padding-left: 18px
}

.login-modal .modal-main {
    position: relative;
    background-color: #fff;
    padding: 18px 18px 18px 18px;
    box-sizing: border-box
}

.login-modal .modal-footer {
    position: relative;
    display: block;
    height: 48px;
    background: #fff;
    box-shadow: 0 -1px 0 0 rgba(198, 212, 224, .5);
    padding: 10px 18px 10px 18px;
    box-sizing: border-box
}

.login-modal .modal-footer .modal-status {
    position: relative;
    display: inline-block;
    height: 24px
}

.login-modal .modal-footer .modal-status .icon {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 12px
}

.login-modal .modal-footer .modal-status .msg {
    position: absolute;
    display: inline-block;
    padding-left: 40px;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.login-modal .modal-footer .err .icon {
    background-position: 0 -24px;
    background-repeat: no-repeat;
    background-image: url(assets/a1003eafd4cf25fa77aa6df7472ec5ec.png);
    background-size: 24px 48px
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpack .login-modal .modal-footer .err .icon {
        background-image: url(assets/3225b1ce841ac05067304f8c4efc5d91.png);
        background-size: 24px 48px
    }
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpackdebug .login-modal .modal-footer .err .icon {
        background-image: url(assets/3225b1ce841ac05067304f8c4efc5d91.png);
        background-size: 24px 48px;
        outline: 1px green dashed
    }
}

.login-modal .modal-footer .err .msg {
    color: #e64040
}

.login-modal .modal-footer .loading .icon svg path,
.login-modal .modal-footer .loading .icon svg rect {
    fill: #3c76ff
}

.login-modal .modal-footer .loading .msg {
    color: #057feb
}

.login-modal .modal-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2
}

.login-formfield {
    display: block;
    position: relative;
    margin-bottom: 6px
}

.login-formfield .label {
    display: inline-block;
    width: 238px;
    padding: 4px 0;
    margin-right: 8px;
    line-height: 20px;
    font-size: 12px;
    color: #414b55
}

.login-formfield .text {
    display: inline-block;
    padding: 4px 0;
    line-height: 20px;
    font-size: 12px;
    color: #414b55
}

.login-formfield .input-text {
    display: inline-block;
    height: 28px;
    background: #fff;
    border: 1px solid rgba(198, 212, 224, .7);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 12px;
    font-size: 12px;
    color: #414b55;
    line-height: 20px
}

.login-formfield .input-text:hover {
    border: 1px solid rgba(124, 138, 152, .5)
}

.login-formfield .input-text:focus {
    border: 1px solid #3c76ff
}

.login-formfield .input-text:disabled {
    background: rgba(198, 212, 224, .2);
    border: 1px solid rgba(198, 212, 224, .7);
    color: rgba(65, 75, 85, .4)
}

.login-formfield .input-text:invalid {
    background: rgba(230, 64, 64, .08);
    border: 1px solid #e64040;
    color: #414b55
}

.login-reset-forgot-password .btn-login-now {
    display: block;
    margin: 30px auto 0px auto
}

.login-reset-forgot-password .confirm-pass-error {
    font-size: 13px;
    color: #e64040;
    line-height: 20px
}

.login-title {
    position: relative;
    margin-top: 16px;
    margin-bottom: 36px;
    height: 32px
}

.login-title span {
    display: block;
    line-height: 32px;
    font-size: 22px;
    color: #057feb;
    width: 100%;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.login-title span::after {
    content: "";
    display: block
}

.login-title.login-title-icon {
    display: flex;
    margin-top: 0;
    margin-bottom: 22px;
    align-items: center;
    height: 62px;
    line-height: 62px;
    font-size: 24px
}

.login-title.login-title-icon .app-icon {
    height: 40px;
    width: 40px;
    padding: 11px 10px 11px 0px
}

.login-title.login-title-icon span {
    color: #000;
    width: 256px
}

.login-title.login-title-img {
    margin-top: 0;
    margin-bottom: 22px;
    height: 62px
}

.login-title.login-title-img img {
    width: 340px
}

.login-tooltip {
    position: absolute;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 400px;
    opacity: .8;
    background: #1e2022;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #969696;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    z-index: 10500
}

.login-preview-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 16px;
    z-index: 1
}

.login-preview-bar {
    position: absolute;
    background: rgba(50, 60, 70, .96);
    box-shadow: 0 2px 8px 0 rgba(50, 60, 70, .4);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px 24px
}

.login-preview-bar .information {
    font-size: 13px;
    color: #fff;
    line-height: 28px;
    margin-right: 20px
}

.login-preview-bar .preview-btnset {
    float: right
}

.login-preview-bar .preview-btnset button:not(:last-child) {
    margin-right: 8px
}

.login-preview-bar .preview-btnset .v-btn-grey {
    color: #fff
}

.login-btn-mobile {
    position: relative;
    width: auto;
    height: 40px;
    background-color: #057feb;
    border-radius: 24px
}

.login-btn-mobile .btn-text {
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    padding-top: 8px
}

.login-btn-mobile .login-btn-spinner {
    width: 16px;
    height: 16px
}

.login-btn-mobile:active {
    background: #005ac8
}

.login-btn-mobile.disable {
    background-color: #057feb;
    box-shadow: none
}

.login-btn-mobile.disable .btn-text {
    color: rgba(255, 255, 255, .4)
}

.login-btn {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 180px;
    right: -76px;
    border-radius: 50%;
    background-color: #057feb;
    box-shadow: 0 5px 14px 0 rgba(5, 127, 235, .34);
    cursor: pointer;
    z-index: 10
}

.login-btn .login-btn-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #057feb;
    z-index: 2;
    border-radius: 50%
}

.login-btn .login-btn-animation {
    position: absolute;
    top: 0;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-color: #057feb
}

.login-btn .login-btn-animation.animation-active {
    -webkit-animation-name: btnPulse;
    -moz-animation-name: btnPulse;
    -ms-animation-name: btnPulse;
    animation-name: btnPulse;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running
}

.login-btn .grow-bg {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #057feb
}

.login-btn .arrow {
    width: 38px;
    height: 22px;
    position: absolute;
    top: 25px;
    left: 17px;
    background-image: url(assets/8d1c89b16774eaa1ed64129f6e5a33da.png);
    background-size: 38px 22px;
    opacity: 1;
    transition: opacity .5s
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpack .login-btn .arrow {
        background-image: url(assets/216e96cb286153c939c2950f680907ef.png);
        background-size: 38px 22px
    }
}

@media(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
    .synohdpackdebug .login-btn .arrow {
        background-image: url(assets/216e96cb286153c939c2950f680907ef.png);
        background-size: 38px 22px;
        outline: 1px green dashed
    }
}

.login-btn.disable {
    cursor: default
}

.login-btn.disable .arrow {
    opacity: .4
}

.login-btn.disable:not(.clicked) {
    box-shadow: none
}

.fade-out .login-btn .arrow,
.fade-out .login-btn .login-btn-spinner-wrapper {
    opacity: 0
}

@keyframes btnPulse {
    0% {
        transform: scale(1)
    }

    80% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}

.login-btn-mobile .login-btn-spinner-wrapper,
.login-btn .login-btn-spinner-wrapper {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s
}

.login-btn-mobile.spin .btn-text,
.login-btn.spin .btn-text {
    opacity: 0
}

.login-btn-mobile.spin .arrow,
.login-btn.spin .arrow {
    opacity: 0
}

.login-btn-mobile.spin .login-btn-spinner-wrapper,
.login-btn.spin .login-btn-spinner-wrapper {
    opacity: 1
}

.login-btn-mobile.spin .login-btn-spinner-wrapper.fade-out,
.login-btn.spin .login-btn-spinner-wrapper.fade-out {
    opacity: 0
}

.dsm-sso-login-panel-tab {
    position: relative
}

.dsm-sso-login-panel-tab .login-btn {
    top: 248px
}

.action-links .action {
    display: block
}

.action-links .action:not(:last-child) {
    margin-bottom: 8px
}

.action-links .action a {
    cursor: pointer
}

#sds-login-vue-inst,
#sds-login-reset-forgot-pwd-inst {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10101;
    overflow: auto
}

#sds-login-vue-inst.fade-out,
#sds-login-reset-forgot-pwd-inst.fade-out {
    overflow: hidden;
    transition: opacity;
    transition-duration: .5s;
    transition-delay: .5s;
    opacity: 0
}

#sds-login-vue-inst .fade-enter-active,
#sds-login-vue-inst .fade-leave-active,
#sds-login-reset-forgot-pwd-inst .fade-enter-active,
#sds-login-reset-forgot-pwd-inst .fade-leave-active {
    transition: all .5s ease
}

#sds-login-vue-inst .fade-enter,
#sds-login-vue-inst .fade-leave-to,
#sds-login-reset-forgot-pwd-inst .fade-enter,
#sds-login-reset-forgot-pwd-inst .fade-leave-to {
    opacity: 0
}

#sds-login-vue-inst .quick-fade-enter-active,
#sds-login-vue-inst .quick-fade-leave-active,
#sds-login-reset-forgot-pwd-inst .quick-fade-enter-active,
#sds-login-reset-forgot-pwd-inst .quick-fade-leave-active {
    transition: all .3s ease
}

#sds-login-vue-inst .quick-fade-enter,
#sds-login-vue-inst .quick-fade-leave-to,
#sds-login-reset-forgot-pwd-inst .quick-fade-enter,
#sds-login-reset-forgot-pwd-inst .quick-fade-leave-to {
    opacity: 0
}

/* 自定义css*/

/* 登录框磨砂玻璃 */
.tab-panel {
    width:370px;
    backdrop-filter: blur(10px);
    /* 磨砂玻璃效果 更改0.5可调透明度*/
    background-color: rgba(244, 245, 247, 0.5);
    /* 登录框褐色阴影 */
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); 
}

/* 非密码登录加载界面去除白色遮掩框 */
.login-tabs.spinning .login-tabs-content-mask-wrapper:before {
    background-color: transparent;
}

/* 输入框字体颜色 */
.login-textfield .input-container input {
    color: #4a4b57;
    background-color: transparent;
}

/* 输入框下颜色条 */
.login-textfield .bottom-border {
    background: #fff;
}

/* 输入选中框下颜色条 */
.login-textfield:hover .bottom-border {
    background: #fff;
}

/* 屏蔽输入框自动填充填充账号密码时输入框变为白底 */
.login-tabs .login-tabs-content-wrapper .login-tabs-co
.login-textfield .input-container input {
    color: #172b4d;
    transition: all .3s cubic-bezier(.68,-.55,.265,1.55);
    background-color: transparent;
}
.login-textfield .input-container input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: #172b4d !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color:transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s;
}
.login-textfield .input-container input {
    background-color:transparent;
}